<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
                             http://java.sun.com/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <!-- Servlet Definitions -->
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>controller.LoginServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>controller.RegisterServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>AttendanceServlet</servlet-name>
        <servlet-class>controller.AttendanceServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>GradeServlet</servlet-name>
        <servlet-class>controller.GradeServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>UpdateGradeServlet</servlet-name>
        <servlet-class>controller.UpdateGradeServlet</servlet-class>
    </servlet>

    <!-- Servlet Mappings -->
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>AttendanceServlet</servlet-name>
        <url-pattern>/attendance</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>GradeServlet</servlet-name>
        <url-pattern>/grades</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>UpdateGradeServlet</servlet-name>
        <url-pattern>/UpdateGradeServlet</url-pattern>
    </servlet-mapping>

    <!-- Welcome file (default page when you access the root URL) -->
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>  <!-- Default page for first-time access -->
    </welcome-file-list>

</web-app>
